body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 64px;
    background: #EEEEEE;
}

#board{
    padding: 0;
    margin: 0;
}

.row{
    display: flex;
}

.tile{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: lightblue;
}